.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
}
.headerLogo{
    height: 40px;
    object-fit: contain;
}
.header_icon{
    padding:5px;
}